notizen/temp.md
notizen/temp.tex
notizen/_template.aux
notizen/_template.log
notizen/_template.nav
notizen/_template.toc
notizen/_template.snm
notizen/_template.pyg
notizen/_template.out
notizen/_template.vrb
notizen/_template.ps
notizen/_template.dvi
notizen/_minted-_template/*
notizen/bsymb.*
